.node-red/flows.json
[{"id":"7c0976cc.216648","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"2101e218.8089de","type":"tab","label":"Demo 2","disabled":false,"info":""},{"id":"9f267907.c4c898","type":"inject","z":"7c0976cc.216648","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["b67f8745.82fbe8"]]},{"id":"96611316.fd6ca","type":"debug","z":"7c0976cc.216648","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"humanDateFormat","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"fce4e6b0.750f58","type":"inject","z":"2101e218.8089de","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["4beb6a56.4df444"]]},{"id":"4beb6a56.4df444","type":"function","z":"2101e218.8089de","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[["4a4873fb.45009c"]]},{"id":"4a4873fb.45009c","type":"debug","z":"2101e218.8089de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"b67f8745.82fbe8","type":"function","z":"7c0976cc.216648","name":"Parse","func":"const dateObject = new Date(msg.payload);\n\nmsg.humanDateFormat = dateObject.toLocaleString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":140,"wires":[["96611316.fd6ca"]]}]